# Entornos virtuales
env/
.venv/
venv/
ENV/
.env/

# Archivos de entorno
.env

# Cachés de Python
__pycache__/
**/__pycache__/
*.py[cod]

# Archivos compilados
*.pyo
*.pyd
.Python

# Bases de datos / Logs
*.sqlite3
*.db
*.log

# Cachés de pruebas
.pytest_cache/

# Configuraciones de editores
.vscode/
.idea/
